﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center">Pdf Raporları Sayfası</h1>
<br />
<a href="/PdfReport/StaticPdfReport" class="btn btn-outline-primary">
    <i class="menu-icon tf-icons bx bxs-download"></i>
    Statik Pdf Raporu İndir
</a>
<br />
<br />
<a href="/PdfReport/StaticCustomerReport" class="btn btn-outline-warning">
    <i class="menu-icon tf-icons bx bxs-download"></i>
    Statik Misafir Raporu İndir
</a>