@model List<AnnouncementListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center">Duyuru Listesi</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>BAŞLIK</th>
        <th>İÇERİK</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ID</th>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td><a href="#" class="btn btn-outline-dark">DETAYLAR</a></td>
        </tr>
    }
</table>